# Ignore virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore CSV files (optional, if you don't want to track attendance CSVs)
*.csv
